a {
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    margin: 0 1px;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #667085;
}

a.current,
a:hover {
    color: #344054;
    cursor: pointer;
    text-decoration: none;
    background-color: #98a2b33a;
}


button[disabled] {
    cursor: default;
    color: #98A2B3;
}

button:not([disabled]):hover {
    cursor: pointer;
    outline: none;
}

.select-page-size {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 8px 12px;
}

@media only screen and (max-width: 640px) {
    a {
        width: 30px;
        height: 30px;
    }
}
